/* 기본 스타일 (모바일 우선) */
#body_wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#header,
#main {
    width: 100%;
    max-width: 980px; /* 최대 너비를 980px로 제한 */
    margin: 0 auto;
}

#footer {
    padding: 0 0 20px 0;
    clear: both;
    width: 100%;
}

#header {
    display: flex;
    flex-wrap: wrap; /* 요소가 필요한 경우 다음 줄로 넘어갈 수 있게 설정 */
    justify-content: space-between;
    align-items: center;
}

#header_logo {
    flex: 1;
}

#header_menu_top,
#header_menu {
    display: flex;
    flex: 1;
}

#mobile-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#user-action {
    display: flex;
    justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
}

/* 기본 모바일 스타일: 600px 이하 화면 크기 */
@media only screen and (max-width: 600px) {
    #main, #main_top, #main_center, #main_bottom, .main-center-center {
        width: 100%;
    }

    #main {
        height: 950px;
    }

    #header_logo {
        order: 1; /* 첫 번째로 배치 */
        text-align: center;
        width: 100%;
        display: none;
    }

    #header_menu_top,
    #header_menu {
        display: none; /* 기본적으로 메뉴를 숨김 */
        width: 100%;
        justify-content: center;
    }
}

/* 태블릿 스타일: 601px ~ 980px 화면 크기 */
@media only screen and (min-width: 601px) and (max-width: 980px) {
    #main, #main_top, #main_center, #main_bottom, .main-center-center {
        width: 90%;
    }

    #main {
        height: 950px;
    }

    #header_logo {
        order: 1; /* 첫 번째로 배치 */
        text-align: center;
        width: 100%;
        display: none;
    }

    #header_menu_top,
    #header_menu {
        display: none; /* 기본적으로 메뉴를 숨김 */
        width: 100%;
        justify-content: center;
    }
}

/* 데스크탑 스타일: 981px 이상 화면 크기 */
@media only screen and (min-width: 981px) {
    #main, #main_top, #main_center, #main_bottom, .main-center-center {
        width: 980px;
    }

    #mobile-header-section {
        display: none; /* 데스크탑에서는 표시하지 않음 */
    }

    /* 기본적으로 980px의 폭을 가지도록 설정했으며, 더 큰 화면에 대한 스타일도 여기에 정의 */
}

/* 모바일 화면을 위한 스타일 (예: 최대 너비 768px) */
@media only screen and (max-width: 768px) {
    #header {
        flex-direction: column;
        height: 70px;
    }

    #menuButton:checked + #header_menu_top,
    #menuButton:checked + #header_menu {
        display: flex;
    }

    #header_menu_top ul {
        justify-content: flex-end;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-brand {
    flex: 1;
    text-align: center;
}

#user-action {
    order: 3;
}

.nav-link {
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22m-22 8h22'%3e%3c/path%3e%3c/svg%3e") !important;
}

/* Navbar 메뉴 아이템들의 스타일링 */
.navbar-nav .nav-item {
    width: 100%;
    border-bottom: 1px solid #e0e0e0; /* 아이템 간 구분을 위한 하단 테두리 */
    padding: 5px 30px; /* 위/아래 패딩 추가 */
    background: #fff; /* 배경색 지정 */
    color: black;
    font-weight: bold;
}

/* 마지막 메뉴 아이템의 하단 테두리 제거 */
.navbar-nav .nav-item:last-child {
    border-bottom: none;
}

/* 메뉴 아이템에 마우스를 올렸을 때의 스타일 */
.navbar-nav .nav-item:hover {
    background-color: #e0e0e0;
}

/* 선택된 (active) 메뉴 아이템의 스타일 */
.navbar-nav .nav-item.active .nav-link {
    background-color: #d0d0d0;
    font-weight: bold;
}

