table {
    width:880px;
    text-align: left;
    font-size: medium;
    border-collapse: separate;
    border-spacing:0 18px;
}

td:hover{
    cursor: pointer;
    text-decoration: underline;
}

#pagination {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 980px; height: 30px;
    margin-top: 30px;
}

#pagelink {
    font-size: 14px;
    font-weight: bolder;
    padding-right:10px;
}